<div class="row mt-5">
  <div class="col-md-6 m-auto">
      <div class="card card-body">
          <h1 class="text-center mb-3">Jelentkezés eredménye</h1>
          <%- include ./partials/messages %>
          <a href="/">Vissza a főoldalra</a> 
            <br>

        </div>
    </div>
</div>